name: ble_proximity_signal_platform_interface

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - .github/workflows/ble_proximity_signal_platform_interface.yaml
      - ble_proximity_signal_platform_interface/**
  push:
    branches:
      - main
    paths:
      - .github/workflows/ble_proximity_signal_platform_interface.yaml
      - ble_proximity_signal_platform_interface/**

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      flutter_version: 3.35.0
      format_line_length: 120
      working_directory: ble_proximity_signal_platform_interface
