name: ble_proximity_signal

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - .github/workflows/ble_proximity_signal.yaml
      - ble_proximity_signal/**
  push:
    branches:
      - main
    paths:
      - .github/workflows/ble_proximity_signal.yaml
      - ble_proximity_signal/**

jobs:
  spell-check:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/spell_check.yml@v1
    with:
      includes: |
        **/*.md
        !brick/**/*.md
        .*/**/*.md
      modified_files_only: false

  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      flutter_version: 3.35.0
      format_line_length: 120
      working_directory: ble_proximity_signal

  android:
    runs-on: macos-latest

    defaults:
      run:
        working-directory: ble_proximity_signal/example

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: "11"

      - uses: subosito/flutter-action@v2

      - name: Install Fluttium
        run: flutter pub global activate fluttium_cli

      - name: AVD Cache
        uses: actions/cache@v5
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-29

      - name: Cache AVD Snapshot
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: E2E Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: fluttium test flows/test_platform_name.yaml -d android
          working-directory: ble_proximity_signal/example

  ios:
    runs-on: macos-latest

    defaults:
      run:
        working-directory: ble_proximity_signal/example

    steps:
      - uses: actions/checkout@v6

      - uses: subosito/flutter-action@v2

      - name: Install Fluttium
        run: flutter pub global activate fluttium_cli

      - name: Start Simulator
        # Start an iPhone simulator
        run: |
          UDID=$(xcrun xctrace list devices | grep "^iPhone" | awk '{gsub(/[()]/,""); print $NF}' | head -n 1)
          echo $UDID
          xcrun simctl boot "${UDID:?No Simulator with this name found}"

      - name: E2E Tests
        run: fluttium test flows/test_platform_name.yaml -d iPhone
